h4,h5{
	padding:0;
	margin:0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.hide{
	display:none;
}
.toast__container {
    display: table-cell;
    vertical-align: middle;
}

.toast__cell{
  display:inline-block;
}

.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.toast {
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    bottom: 0px;
	left:40%;
    position:fixed;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: #878787;
}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue .toast__icon{
  background-color:#1D72F3;
}

.toast--blue:before{
  background-color:#1D72F3;
}

.toast--yellow .toast__icon{
  background-color:#FFC007;
}

.toast--yellow:before{
  background-color:#FFC007;
}
#input-search {
	position:absolute;
	z-index:250;
	right:370px;
	top:150px;
    background-image: url("images/searchicon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 300px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px; 
}
#bt-search{
	position:absolute;
	right:320px;
	top:150px;
	z-index:250;
   
    width: 50px;
	
	color:white;
	background-color:black;
    font-size: 18px;
	font-style:bold;
    padding: 9px 0px 9px 0px;
    border: 1px solid #FFFFFF;
}
div.header{
	height:250px;
	background-size:100%;
	background-color:black;
}
#register{
	position:absolute;
	z-index:500;
	visibility:hidden;
}
/*
div.nav-dec::before{
		position:absolute;
	top:0px;
	left:0px;
	margin:auto;
	width:2000px;
	height:30px;
		background-size:100%;
		background-image:url("images/back/nav-back.jpg");
}*/
div .nav-dec .signature img{
	position:absolute;
	left:300px;
	width:45px;
	height:45px;
}
div .nav-dec .signature p{
	position:absolute;
	left:345px;
	font-size:20px;
	font-weight:bold;
	top:-10px;
	color:white;
	
}
div.logo a{
	
	position:absolute;
	top:60px;
	left:400px;
	width:200px;
	height:200px;
	background-image:url("images/LOGO.png");
	background-size:100%;
	display:block;
}
div.nav-dec{
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
	width:100%;
	height:45px;

	background:hsla(0,0%,100%,0.4);
}
.nav li{
	float:left;
	/*margin:10px 10px 10px 10px;*/
}.nav  {
	width:740px;
	position:absolute;
	right:200px;
	top:0px;
}
.nav li a:link,.nav li a:visited{
	font-size:20px;
	display:block;
	width :100px;
	height:25px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	text-decoration:none;
	
}
.nav li a:hover,.nav li a:active{
	background:hsla(0,0%,100%,0.2);

}
.selected{
	display:block;
	width :100%;
	border-top:4px solid orange;
	float:left;
}
.hidden{
	display :none;
	color:white;
}
.nav-cart:hover .hidden{
	padding:15px;
	display:block;
	background:white;
	position:absolute;
	width:90px;
	z-index:700;
}
.nav-cart:hover .hidden a{
	width:75px;
	height:75px;
	margin:0;
	margin-bottom:10px;
	padding:0;
	display:block-inline;
}